.video-container, .btn-play {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}
.video-container.expanded {
    /*margin: 1em;*/
    /*background: rgba(0,0,0,0.1);*/
    z-index: 999999;
    position: fixed;
    top: 50%;
    left:50%;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100vh;
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);
    width: 90%;
    height: 90vh; /* height:width ratio = 9/16 = .5625  */
    overflow: visible;

    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.video-container.expanded:before {
    content: "";
    position: fixed;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    background-color: rgba(0,0,0,0.5);
}
.btn-outline {
    background-color: transparent;
    border: 2px solid #ffffff;
    box-shadow: none;
    color: #ffffff;
    border-radius: 60px;
    padding: 1em 1.5em;
}
.btn-outline:hover {
    color: #f0c514;
    border-color: #f0c514;
}
.btn-outline.btn-video {
    margin: 0 auto;
    text-align: center;
    display: block;
}
.btn-circle {
    border-radius: 100%;
}
.btn-close {
    display: none;
}
.btn-play {
    overflow: hidden;
}
.btn-play:active {
    color: #ffffff;
}
.btn-play.play span {
    display: none;
}
.btn-play.btn-close {
    color: #ffffff;
    padding: 10px 15px;
    position: absolute;
    z-index: 999;
    right: 0;
    margin: 1em;
}
.btn-play.btn-close i:before {
    content: "\f00d";
}
.btn-play.btn-close:hover {
    color: #f0c514;
}
.play .btn-close {
    display: block;
    position: fixed;
    z-index: 99999999;
    top: 2em;
    right: 2em;
}
.btn-play.play-icon:before {
    content: "";
    position: absolute;
    top: 147px;
    left: 169px;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-left: 30px solid #ffffff;
    background-color: transparent;
}
.btn-play.play-icon:hover:before {
    border-left: 30px solid #f0c514;
}

.btn-play.play-icon:before {
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.btn-play.play:before {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    left: 149px;

    -webkit-animation: rollAnimation 0.9s ease-in-out forwards;
    -o-animation: rollAnimation 0.9s ease-in-out forwards;
    animation: rollAnimation 0.9s ease-in-out forwards;
    -webkit-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;

    overflow: hidden;
    background-color: transparent;
    border-color: transparent;
}
.btn-play:not(.play) .video-content {
    display: none;
}
.play .video-content {
    /*position: fixed;*/
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    /*width: 100%;
    height: 100vh;*/ /* height:width ratio = 9/16 = .5625  */

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999999;
    background-color: #000000;
}

.homepage-logo,
.navbar-brand {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.expanded .homepage-logo {
    position: absolute;
    right: 0;
    top: 0;
}
/*.homepage-logo.animated {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999;
    width: 100px;
    height: auto;
    margin-top: 0;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}*/

@-webkit-keyframes rollAnimation {
    0% {
        background-color: #ffffff;
        border-radius: 50%;
    }
    80% {
        border-radius: 0;
        width: 60px;
        height: 60px;
    }
    100% {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        border-radius: 0;
        z-index: 999998;
    }
}

