@font-face {
    font-family: 'lato_black';
    src: local('lato'), url('fonts/lato/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'lato_reg';
    src: local('lato'), url('fonts/lato/Lato-Regular.ttf') format('truetype');
}
html, body {
    min-height: 100%;
}
html {
    font-size: 17px;
}
body {
    background: #ffffff;
    font-size: 100%;
    font-family: 'lato_reg';
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'lato_black';
    margin: 0;
}
a {
    color: #9d9d9d;
}
footer a:hover, footer a:focus, footer a:active {
    color: #3e3e3e;
    text-decoration: none;
    border-bottom: 1px dashed #3e3e3e;
}
.wcolor {
    color: #ffffff;
}

.tcolor {
    color: #ffbf3d;
}

.navbar {
    z-index: 9999;
}
.navbar-transparent {
    background-color: transparent;
    border: none;
    font-weight: normal;
    padding: 2.5rem 0;
}
.navbar-transparent .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > li > a:active {
    color: #ffbf3d;
}
.header-absolute-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header-absolute-top + section:first-of-type {
    padding-top: 10rem !important;
}

.navbar-brand {
    height: auto;
    padding: 0 0.9375rem;
}
.navbar-brand img {
    max-width: 180px;
    height: auto;
}

.bg, [data-bg] {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.bg:before, [data-bg]:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
}
[data-bg=""]:before {
    background: transparent;
}
.event_inner_banner.bg:before {
    content: "";
    background: rgba(0,0,0,.5);
}


/*Sections*/
.section:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -110px;
    overflow: visible;
    width: 100%;
    height: 200px;
    background: #fff;
    z-index: 1;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
}

.child-section {
    background-color: #ffffff;
    padding: 90px 0;
    position: relative;
    width: 100%;
    z-index: 2;
}

.child-section .title {
    font-size: 64px;
    padding: 0px 0 30px 0;
    line-height: 64px;
    font-style: italic;
}

.child-section .desc {
    font-size: 22px;
    width: 80%;
    margin-top: 25px;
    font-weight: normal;
    margin-bottom: 0;
}

.child-section .border {
    border-bottom: 1px solid #e0e0e0;
}

@media (min-width: 768px) {
    .main-section {
        min-height: 768px;
    }
}

.btn-default-outline, button, a[role=button] {
    margin-top: 35px;
    font-weight: bold;
    border: 1px solid #e0e0e0;
    background: transparent;
    box-shadow: none !important;
    font-size: 17px;
    width: 190px;
    padding: 15px 30px;
    text-align: center;
    border-radius: 6px;
    color: #333;
    font-weight: bold;
    box-shadow: none;

    -webkit-transition: all 0.02s ease-out;
    -o-transition: all 0.02s ease-out;
    transition: all 0.02s ease-out;
}
.btn-default-outline:hover,
button:hover,
a[role=button]:hover,
.btn-default-outline:focus,
button:focus,
a[role=button]:focus {
    background-color: #ffffff;
    color: #ffbf3d;
}
.btn.wcolor {
    color: #ffffff;
}

.btn-primary-outline {
    background-color: #ffbf3d !important;
    border-color: #ffbf3d !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus {
    background-color: transparent !important;
    color: #ffbf3d !important;
}

.newsletter-form button {
    margin-top: 0;
}

button#mc-embedded-subscribe {
    width: 260px;
}

button.navbar-toggle {
    width: 45px;
}

section.values,
.bg-default {
    background-color: #ffffff;
}

.know-more {
    border-radius: 0 !important;
    font-weight: bold;
    font-size: 17px;
    width: 190px;
    margin-top: 10px;
    padding: 10px 30px;
    text-align: center;
    box-shadow: none;
}

.gallery img,
div[id*="gallery-"] .gallery-item img {
    border: none !important;
}

.events_content {
    z-index: 2;
}

section.event_content .col-sm-4 {
    height: 240px;
}

.ee-event-datetimes-ul {
    padding-left: 0;
    list-style: none;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    color: #ffffff;
}
.ee-event-datetimes-ul li br {
    display: none;
}
.ee-event-datetimes-ul li .dashicons:nth-child(2),
.ee-event-datetimes-ul li .dashicons-clock {
    padding-left: 1em;
}
.download-iCal-frm {
    display: none;
}

section.event_inner_banner .desc {
    margin-bottom: 1em;
}
section.event_inner_banner .desc a {
    border-radius: 50%;
    margin-left: 10px;
    background: #ffbf3d;
    font-size: 17px;
    width: 32px;
    color: #333;
    text-align: center;
}
section.event_inner_banner .desc .event-datetimes {
    float: left;
}

.espresso-event-wrapper-dv section {
    padding-top: 1em;
    padding-bottom: 1em;
}
.ee-ical-sbmt {
    border: 1px solid #757575;
    background-color: transparent;
}
.ee-event-datetimes-ul {
    list-style-type: none;
}
section.espresso_events_banner .event-datetimes {
    color: #ffffff;
}
section.espresso_events_banner .event-datetimes ul {
    padding-left: 0;
}
.ee-event-datetimes-li br {
    display: none;
}
.ee-event-datetimes-li span:not(:first-child) {
    margin-left: 2em;
}

.blog-banner-holder {
    padding-top: 160px;
}

section.blog_inner_banner p.desc .btn-circle {
    width: 36px;
}

/* blog inner banner start */
section.blog_inner_banner,
section.post_banner {
    width: 100%;
    padding: 0;
    /*background: url(../img/blog-inner-bg.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section.blog_inner_banner .bouncing_arrow,
section.post_banner .bouncing_arrow ,
.bouncing_arrow {
    position: absolute;
    bottom: 130px;
    left: 50%;
    width: 40px;
    text-align: center;
    height: 40px;
    margin-left: -20px;

}
section.blog_inner_banner .bouncing_arrow i,
section.post_banner .bouncing_arrow i,
.bouncing_arrow i {
    font-size: 60px;
}
@media (min-width: 768px) {
    section.blog_inner_banner,
    section.post_banner {
        min-height: 768px;
    }
}
section.blog_inner_banner h1.title,
section.post_banner h1.title {
    margin-top: 120px;
    font-size: 55px;
    padding: 20px 0;
    line-height: 55px;
}
section.blog_inner_banner p.desc,
section.post_banner p.desc {
    font-size: 22px;
    font-weight: normal;
    margin-top: -10px;
}
section.blog_inner_banner p.desc a,
section.post_banner p.desc a,
.btn-circle.icon {
    border-radius: 50%;
    margin-left: 10px;
    background: #ffbf3d;
    font-size: 17px;
    width: 32px;
    color: #333;
    text-align: center;
}
.btn-circle.icon {
    width: 32px;
    height: 32px;
    padding: 5px;
}
section.blog_inner_banner .post-meta-info .category-list a,
section.post_banner .post-meta-info .category-list a {
    background: none;
    color: #ffffff;
}
.post-meta-info span:not(:last-child):after {
    content: "";
    border-right: 1px solid #ffffff;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.post-meta-info span a {
    margin-left: 0 !important;
}
section.blog_inner_banner img.anniv_logo,
section.post_banner img.anniv_logo {
    margin-top: 50px;
    max-width: 300px;
}
section.blog_inner_banner .border-bottom,
section.post_banner .border-bottom {
    border-bottom: 1px solid #fff;
}

section.blog-inner-content,
section.post-content {
    padding: 90px 0 160px 0;
}
section.blog-inner-content img,
section.post-content img {
    max-width: 100%;

}
section.blog-inner-content .insider,
section.post-content .insider {
    z-index: 2;
    margin-top: -70px;
}
section.blog-inner-content .inside,
section.post-content .inside {
    margin-bottom: 30px;
    z-index: 999;
}
section.blog-inner-content .inside p,
section.post-content .inside p {
    font-size: 21px;
    color: #757575;
}
section.blog-inner-content .inside h1,
section.post-content .inside h1 {
    font-size: 40px;
    margin-top: 0;
    padding: 0;
    color: #7c7c7c;
}
section.blog-inner-content .inside p,
section.blog-inner-content .inside img,
section.blog-inner-content .inside h1,
section.post-content .inside p,
section.post-content .inside img,
section.post-content .inside h1 {
    margin-bottom: 40px;
}

section.blog-inner-content .inside .share-post,
section.post-content .inside .share-post {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    position: relative;
    padding: 20px 0;
}
section.blog-inner-content .inside .share-post p,
section.post-content .inside .share-post p {
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
section.blog-inner-content .inside .share-post a,
section.post-content .inside .share-post a {
    color: #787878;
}
section.blog-inner-content .inside .share-post a:hover,
section.post-content .inside .share-post a:hover {
    border-bottom: 1px dashed #787878;
}
section.blog-inner-content .inside .share-link a,
section.post-content .inside .share-link a {
    background: #787878;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    float: right;
    margin-left: 10px;
}

.comments {
    margin-top: 2em;
}
.comments .comment.depth-1:not(:first-child) {
    border-top: 1px solid rgba(0,0,0,0.05);
    padding-top: 1em;
}
section.blog-inner-content .comments p.comments-head,
section.post-content .comments p.comments-head {
    margin-top: 20px;
    margin-bottom: 20px;
}
section.blog-inner-content .comments p,
section.post-content .comments p {
    margin: 0;
    font-size: 18px;
}
section.blog-inner-content .comments li,
section.post-content .comments li {
    list-style: none;
}
section.blog-inner-content .comments .author a,
section.post-content .comments .author a,
.commented .commentator a {
    color: #ffbf3d;
    font-weight: bold;
}
section.blog-inner-content .comments .date,
section.post-content .comments .date,
.date a {
    font-size: 16px;
    color: #c3c3c3;
}
section.blog-inner-content .repz,
section.post-content .repz {
    color: #787878;
    font-weight: normal;
    font-size: 14px;
}
section.blog-inner-content .comments .reply-link {
    margin-top: 1em;
    margin-bottom: 1em;
}
section.blog-inner-content .comments .reply-link a,
section.post-content .comments .reply-link a {
    font-size: 16px;
    color: #787878;
    border-bottom: 1px dashed #787878;
    transition: .4s all ease-in-out;
}
section.blog-inner-content .comments .reply-link a:hover,
section.post-content .comments .reply-link a:hover {
    color: #ffbf3d;
    transition: .2s all ease-in-out;
}
section.blog-inner-content .comment-bottom,
section.post-content .comment-bottom {
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    padding-top: 35px;
}

.comments .bypostauthor .author a span {
    font-size: 0.9em;
    color: #c3c3c3;
}
.comments .comment .comment-info {
    margin-top: 1em;
    margin-bottom: 1em;
}
/* blog inner banner end */

/* form comments start */
form.commenting input[type="text"] {
    border: 1px solid #e0e0e0 ;
    padding: 20px 20px;
    color: #5a5a5a;
    margin: 0;
}
form.commenting textarea {
    border: 1px solid #e0e0e0 !important;
    padding: 20px 20px !important;
    color: #5a5a5a;
    margin: 0;
}
form.commenting input[type="text"]:focus,
form.commenting textarea:focus {
    border: 1px solid #5a5a5a !important;
    transition: .2s all ease-in-out;
}
form.commenting .form-group{
    margin-bottom: 25px;
}
form.commenting button,
form.commenting input[type=submit] {
    border: 1px solid #e0e0e0;
    padding: 8px 70px !important;
    margin-bottom: 50px;
    color: #c2c2c2;
    background: #fff;
    float:right;
    transition: .4s all ease-in-out;
}
form.commenting button:hover,
form.commenting button:focus,
form.commenting input[type=submit]:focus,
form.commenting input[type=submit]:hover {
    border: 1px solid #5a5a5a;
    color: #5a5a5a;
    transition: .2s all ease-in-out;
}
.other-articles {
    position: absolute;
    bottom: 70px;
    width: 100%;
    left: 0;
}
.other-articles span{
    border-bottom: 1px solid #5a5a5a;
    display: inline-block;
    font-size: 20px;
    padding: 5px 20px;
    text-transform: uppercase;
}

/* form comments end */

.suggested-blog-item .author + .date {
    display: block;
    font-size: 0.9em;
}

.single-post